:root {
  --black: #01120c;
  --white: white;
  --accent: #09442f;
  --rounded-corner: 4px;
  --accent-90-alpha: rgba(9, 68, 47, .9);
  --accent-darker: #063423;
  --light-grey: #f9f9f9;
  --mint-cream: #f2ecec;
  --alice-blue: #ededec;
  --color: #c5c5c5;
}

.w-layout-grid {
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.w-checkbox {
  margin-bottom: 5px;
  padding-left: 20px;
  display: block;
}

.w-checkbox:before {
  content: " ";
  grid-area: 1 / 1 / 2 / 2;
  display: table;
}

.w-checkbox:after {
  content: " ";
  clear: both;
  grid-area: 1 / 1 / 2 / 2;
  display: table;
}

.w-checkbox-input {
  float: left;
  margin: 4px 0 0 -20px;
  line-height: normal;
}

.w-checkbox-input--inputType-custom {
  width: 12px;
  height: 12px;
  border: 1px solid #ccc;
  border-radius: 2px;
}

.w-checkbox-input--inputType-custom.w--redirected-checked {
  background-color: #3898ec;
  background-image: var(--image-i5cec3e91);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-color: #3898ec;
}

.w-checkbox-input--inputType-custom.w--redirected-focus {
  box-shadow: 0 0 3px 1px #3898ec;
}

.w-layout-hflex {
  flex-direction: row;
  align-items: flex-start;
  display: flex;
}

body {
  color: var(--black);
  font-family: Switzer, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}

h1 {
  letter-spacing: -.2rem;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Helveticaneue, sans-serif;
  font-size: 20rem;
  font-weight: 300;
  line-height: .9;
}

h2 {
  margin-top: 0;
  margin-bottom: 0;
  font-family: Switzer, sans-serif;
  font-size: 4rem;
  font-weight: 300;
  line-height: 1.2;
}

h3 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.2;
}

h4 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 2.5rem;
  font-weight: 300;
  line-height: 1.3;
}

h5 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.4;
}

h6 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.4;
}

p {
  margin-bottom: 0;
}

ul {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-left: 1.25rem;
}

ol {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-left: 1.5rem;
}

li {
  margin-top: .25rem;
  margin-bottom: .25rem;
  padding-left: .5rem;
}

img {
  width: 100%;
  max-width: 100%;
  display: inline-block;
}

label {
  margin-bottom: .25rem;
  font-weight: 500;
}

blockquote {
  border-left: .1875rem solid var(--black);
  margin-bottom: 0;
  padding: .75rem 1.25rem;
  font-size: 1.25rem;
  line-height: 1.5;
}

figure {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

figcaption {
  text-align: center;
  margin-top: .25rem;
}

.global-styles {
  display: block;
  position: fixed;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: auto;
}

.hide {
  display: none;
}

.max-width-xsmall {
  width: 100%;
  max-width: 25rem;
}

.container-large {
  width: 100%;
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
}

.max-width-small {
  width: 100%;
  max-width: 30rem;
}

.form-message-error {
  margin-top: .75rem;
  padding: .75rem;
}

.utility_component {
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  display: flex;
}

.utility_form-block {
  max-width: 20rem;
  text-align: center;
  flex-direction: column;
  display: flex;
}

.utility_form {
  flex-direction: column;
  align-items: stretch;
  display: flex;
}

.utility_image {
  margin-bottom: .5rem;
  margin-left: auto;
  margin-right: auto;
}

.margin-small {
  margin: 1.5rem;
}

.padding-xxsmall {
  padding: .5rem;
}

.padding-small {
  padding: 1.5rem;
}

.padding-large {
  padding: 3rem;
}

.margin-bottom, .margin-bottom.margin-small {
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
}

.padding-bottom, .padding-bottom.padding-small, .padding-bottom.padding-large {
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
}

.text-size-medium {
  font-size: 1.125rem;
  font-weight: 300;
  line-height: 1.4;
}

.heading-style-h5 {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.1;
}

.button {
  grid-column-gap: .5rem;
  grid-row-gap: .5rem;
  border: 0px solid var(--black);
  color: var(--black);
  text-align: center;
  background-color: rgba(0, 0, 0, 0);
  justify-content: flex-end;
  padding: .5rem 1rem;
  font-size: .9rem;
  display: flex;
}

.button.is-icon {
  grid-column-gap: 2.5rem;
  grid-row-gap: 2.5rem;
  justify-content: center;
  align-items: center;
  padding-left: 0;
  font-size: 1rem;
  display: flex;
}

.button.is-icon.is-small {
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
  justify-content: flex-end;
  padding-left: 0;
  padding-right: 0;
}

.button.is-small {
  padding: .5rem 1.25rem;
}

.form-input {
  height: auto;
  min-height: 2.75rem;
  border: 1px solid var(--black);
  background-color: var(--white);
  color: var(--black);
  margin-bottom: 0;
  padding: .5rem .75rem;
  font-size: 1rem;
  line-height: 1.6;
}

.form-input:focus {
  border-color: #000;
}

.form-input::-ms-input-placeholder {
  color: rgba(0, 0, 0, .6);
}

.form-input::placeholder {
  color: rgba(0, 0, 0, .6);
}

.text-size-small {
  font-size: .875rem;
}

.padding-section-small {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.padding-global {
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
}

.padding-global.collage {
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.padding-section-medium {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.padding-section-large {
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.navbar_container {
  width: 100%;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  position: relative;
}

.navbar1_menu {
  justify-content: flex-start;
  align-items: center;
  display: flex;
  position: relative;
}

.embed-burger {
  width: 40px;
  height: 40px;
  display: none;
}

.navbar_component {
  z-index: 99;
  width: 100%;
  height: auto;
  min-height: 4.5rem;
  background-color: var(--white);
  align-items: center;
  padding-left: 5%;
  padding-right: 5%;
  display: flex;
  position: fixed;
}

.navbar_logo-link {
  padding-left: 0;
}

.navbar_link {
  color: var(--black);
  padding: .5rem 1rem;
  font-size: 1rem;
  font-weight: 600;
  position: relative;
}

.navbar_link.w--current {
  color: var(--black);
}

.navbar_link.hide-desktop {
  display: none;
}

.header_component {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  flex-direction: row;
  grid-template-rows: auto;
  grid-template-columns: 1fr .75fr;
  grid-auto-columns: 1fr;
  justify-content: space-between;
  align-items: end;
  margin-top: 6rem;
  display: grid;
  overflow: hidden;
}

.projects_heading {
  flex: 1;
}

.faq1_icon {
  width: 2rem;
  align-self: flex-start;
  margin-left: 1.5rem;
}

.faq_answer {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr .25fr;
  grid-auto-columns: 1fr;
  display: grid;
  overflow: hidden;
}

.process_component {
  border-bottom: 1px solid var(--black);
}

.process_question {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  border-top: 1px solid var(--black);
  cursor: pointer;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr .25fr;
  grid-auto-columns: 1fr;
  justify-content: space-between;
  align-items: start;
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: grid;
}

.process_accordion {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

.subtitle_content {
  flex-direction: column;
  display: flex;
}

.button_text {
  text-align: left;
  font-weight: 600;
}

.arrow_90 {
  width: 1.2rem;
}

.title_h2 {
  flex-direction: column;
  display: flex;
}

.process_button-row {
  flex-flow: column wrap;
  justify-content: flex-end;
  align-items: flex-start;
  display: flex;
}

.process_heading-wrapper-copy {
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr max-content .5fr;
  grid-auto-columns: 1fr;
  justify-content: space-around;
  align-items: end;
  display: grid;
}

.icon_wrapper {
  justify-content: flex-end;
  padding-right: 2rem;
  display: flex;
}

.image.square {
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

.nav_logo-embed {
  height: 16px;
  display: flex;
}

.footer__copyright {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.embed-icon {
  width: 16px;
  height: 16px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.text-block {
  max-width: 240px;
}

.footer__grid-locations {
  width: 100%;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto;
  grid-template-columns: 1fr .5fr;
  grid-auto-columns: 1fr;
  justify-content: space-between;
  display: grid;
}

.div-block-4 {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: -15px;
  margin-bottom: 80px;
  display: flex;
}

.footer__copy-and-socials {
  width: 100%;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto;
  grid-template-columns: 1fr .5fr;
  grid-auto-columns: 1fr;
  justify-content: space-between;
  display: grid;
}

.section {
  z-index: 2;
  width: 100%;
  height: auto;
  background-color: var(--white);
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  display: flex;
  position: relative;
}

.section.quote {
  min-height: 100svh;
  justify-content: center;
  align-items: center;
}

.section.timeline {
  z-index: 1;
  background-color: var(--accent);
}

.section.hero {
  background-color: var(--accent);
}

.section.faq {
  padding-bottom: 4rem;
}

.footer__soc-link {
  width: 40px;
  height: 40px;
  border-radius: var(--rounded-corner);
  background-color: rgba(255, 255, 255, .1);
  flex: none;
  justify-content: center;
  align-items: center;
  display: flex;
}

.footer__soc-link:hover {
  border-color: rgba(24, 31, 37, .5);
}

.footer__social {
  grid-column-gap: 24px;
  grid-row-gap: 0px;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.footer__copyright-logo {
  width: 40px;
  flex: none;
  margin-right: 14px;
}

.footer__grid-main {
  width: 100%;
  height: auto;
  grid-column-gap: 40px;
  grid-row-gap: 80px;
  grid-template-columns: .75fr 1fr;
}

.grid-item {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.footer__headline {
  font-size: 3.6em;
  font-weight: 300;
  line-height: 1.3;
}

.footer__headline.faded {
  color: rgba(255, 255, 255, .3);
}

.footer__list-title {
  margin-bottom: 32px;
  font-size: 1rem;
  font-weight: 600;
}

.img_scroll1 {
  z-index: 3;
  width: 100%;
  display: block;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.ui1 {
  z-index: 3;
  width: 26rem;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  position: absolute;
  top: -3%;
  bottom: 0%;
  left: -4rem;
  right: 0%;
}

.header-img_ui-back {
  z-index: 1;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.header-img_sticky-wraper {
  justify-content: center;
  align-items: center;
  position: -webkit-sticky;
  position: sticky;
  top: 3rem;
}

.section_header-img {
  background-color: #09442f;
  justify-content: center;
  align-items: center;
  display: block;
  position: relative;
}

.header-img_bottom {
  position: relative;
}

.header-img_scroll-trigger {
  z-index: 99;
  width: 2rem;
  height: 200vh;
  opacity: 0;
  background-color: #b51313;
  position: relative;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.header-img_ui-front {
  z-index: 3;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.ui4 {
  z-index: 5;
  width: 10rem;
  position: absolute;
  top: -1rem;
  bottom: auto;
  left: auto;
  right: 1rem;
}

.img_scroll3 {
  z-index: 1;
  width: 100%;
  padding-top: 0;
  display: block;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.ui3 {
  z-index: 5;
  width: 9rem;
  position: absolute;
  top: auto;
  bottom: 0%;
  left: 0%;
  right: auto;
}

.ui2 {
  z-index: 5;
  width: 11rem;
  position: absolute;
  top: auto;
  bottom: 5rem;
  left: auto;
  right: -3rem;
}

.img_scroll2 {
  z-index: 2;
  width: 100%;
  padding-top: 0;
  display: block;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.header-img_img {
  z-index: 2;
  height: 90vh;
  justify-content: center;
  align-items: center;
  display: block;
  position: relative;
  overflow: hidden;
}

.module_footer {
  width: 100%;
  height: auto;
  min-height: 100vh;
  background-color: var(--accent);
  color: var(--white);
  justify-content: center;
  align-items: center;
  display: flex;
}

.search__field {
  width: 100%;
  height: 50px;
  border-radius: var(--rounded-corner);
  margin-bottom: 0;
  padding-left: 24px;
}

.search__field::-ms-input-placeholder {
  color: #bbb;
  font-size: 1rem;
}

.search__field::placeholder {
  color: #bbb;
  font-size: 1rem;
}

.filter__icon {
  width: auto;
  height: 12px;
  margin-left: 10px;
}

.mixitup__wrap {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  text-decoration: none;
  display: flex;
  position: relative;
}

.filter__round {
  z-index: 0;
  width: 8px;
  height: 8px;
  border-radius: 100%;
}

.filter__round.margin-left {
  margin-left: 10px;
}

.mixitup__featuring {
  display: block;
}

.mixitup__collection-item {
  width: 33.3333%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  padding: 8px;
  display: block;
  position: relative;
}

.filter__collection-list {
  width: 100%;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.mixitup__controls {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  flex-flow: wrap;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: center;
  align-items: flex-start;
  display: flex;
  position: relative;
}

.mixitup {
  width: 100%;
  height: auto;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  display: flex;
}

.filter__text {
  position: relative;
}

.filter__text.center {
  margin-left: auto;
  margin-right: auto;
}

.mixitup__collection-list-wrapper {
  margin-left: -8px;
  margin-right: -8px;
  display: block;
  position: relative;
}

.filter__collection-list-wrapper {
  justify-content: center;
  align-items: center;
  margin-left: -8px;
  display: flex;
}

.mixitup__title {
  display: block;
}

.filter {
  height: 50px;
  float: left;
  border-radius: var(--rounded-corner);
  text-align: center;
  cursor: pointer;
  background-color: #f7f7f7;
  flex-direction: row;
  flex: 0 auto;
  order: -1;
  justify-content: center;
  align-items: center;
  padding-left: 24px;
  padding-right: 24px;
  text-decoration: none;
  display: flex;
  position: relative;
}

.filter:hover {
  border-color: #000;
}

.filter.checked {
  background-color: var(--accent);
  color: #fff;
  border-color: #000;
  transition: color .2s, background-color .2s ease-in-out;
}

.mixitup__helpers {
  z-index: 2;
  display: block;
  position: absolute;
  top: 48px;
  bottom: auto;
  left: auto;
  right: 32px;
}

.mixitup__collection-list {
  flex-flow: wrap;
  display: flex;
}

.filter__wrap {
  width: 100%;
  justify-content: space-between;
  align-items: center;
  display: flex;
  position: relative;
}

.search {
  flex-direction: row;
  flex: 0 auto;
  order: -1;
  justify-content: center;
  align-items: center;
  display: block;
  position: relative;
}

.search:hover {
  border-color: #000;
}

.section__filtering {
  justify-content: center;
  align-items: center;
  display: block;
  position: relative;
}

.thumb__project {
  aspect-ratio: 2 / 2.5;
  border-radius: var(--rounded-corner);
  object-fit: cover;
}

.empty-state {
  background-color: #ffecec;
}

.text-block-2 {
  font-weight: 600;
}

.thumb__wrap-mobile {
  margin-top: 16px;
}

.status {
  margin-top: 32px;
  margin-bottom: 16px;
  font-size: .8rem;
}

.thumb__wrap-no-overflow {
  border-radius: var(--rounded-corner);
  display: block;
  position: relative;
  overflow: hidden;
}

.thumb__wrap-no-overflow.ratio-a {
  aspect-ratio: 2 / 2.5;
}

.thumb__hover-desktop {
  z-index: 1;
  background-color: var(--accent-90-alpha);
  color: var(--white);
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 32px;
  display: flex;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.collection-item {
  flex-direction: row;
  align-items: center;
  display: flex;
}

.collection-list {
  grid-column-gap: 8px;
  display: flex;
}

.gallery__cl {
  width: 100%;
  height: auto;
  flex-flow: wrap;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: flex-start;
  align-items: flex-start;
  justify-items: stretch;
  display: flex;
  position: relative;
}

.gallery__cl-item {
  width: 33.3333%;
  aspect-ratio: 1 / 1;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  display: block;
}

.gallery__wrap {
  width: 100%;
  height: auto;
  aspect-ratio: 1 / 1;
  justify-content: center;
  align-items: center;
  display: block;
}

.gallery__lightbox-container {
  width: 100%;
  aspect-ratio: 1 / 1;
  background-image: var(--image-7b40fadb);
  background-position: 50%;
  background-size: cover;
  display: block;
  overflow: hidden;
}

.gallery__cl-wrapper {
  width: 100%;
  height: auto;
  display: block;
  position: relative;
}

.fs-cc-prefs_space-small {
  margin-bottom: .75rem;
}

.fs-cc-banner_component {
  z-index: 998;
  background-color: var(--white);
  border-top: 1px solid rgba(67, 83, 255, .16);
  padding: 1.5rem 2rem;
  display: none;
  position: fixed;
  top: auto;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.fs-cc-banner_text-link {
  color: #141414;
  border-bottom: 1px solid #000;
  font-weight: 400;
  text-decoration: none;
}

.fs-cc-prefs_content {
  height: 100%;
  padding: 2.5rem 2rem;
  overflow: scroll;
}

.fs-cc-banner_buttons-wrapper {
  flex-direction: row;
  flex: none;
  grid-template-rows: auto;
  grid-template-columns: auto auto;
  grid-auto-columns: 1fr;
  justify-content: flex-start;
  align-items: center;
  font-size: 14px;
  line-height: 22px;
  display: flex;
}

.fs-cc-manager_icon {
  width: 16px;
  height: 16px;
  margin-bottom: 2px;
}

.fs-cc-banner_button {
  min-width: 8.75rem;
  border-radius: var(--rounded-corner);
  background-color: var(--accent);
  color: #fff;
  text-align: center;
  margin-left: 1rem;
  padding: .625rem 1.25rem;
  font-size: 14px;
}

.fs-cc-banner_button.fs-cc-button-alt {
  color: #141414;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #141414;
}

.fs-cc-prefs_option {
  border-bottom: 1px solid rgba(51, 51, 51, .15);
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.fs-cc-prefs_text {
  color: #141414;
  font-size: .75rem;
}

.fs-cc-prefs_close {
  z-index: 1;
  color: #333;
  cursor: pointer;
  background-color: #fff;
  border-radius: 100%;
  padding: .625rem;
  font-size: 1.25rem;
  text-decoration: none;
  position: absolute;
  top: -.75rem;
  bottom: auto;
  left: auto;
  right: -.75rem;
  box-shadow: -1px 1px 12px rgba(51, 51, 51, .1);
}

.fs-cc-prefs_label {
  color: #141414;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 2rem;
  font-size: 1rem;
  font-weight: 700;
}

.fs-cc-prefs_form {
  width: 100%;
  height: 100%;
  max-height: 70vh;
  max-width: 36rem;
  border-radius: var(--rounded-corner);
  background-color: #fff;
  margin-bottom: 0;
  position: relative;
}

.fs-cc-prefs_toggle-wrapper {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: .5rem;
  display: flex;
}

.fs-cc-manager_component {
  z-index: 999;
  display: none;
  position: fixed;
  top: auto;
  bottom: 1.25rem;
  left: 1.25rem;
  right: auto;
}

.fs-cc-manager_trigger {
  display: none;
}

.fs-cc-prefs_overlay {
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: rgba(20, 20, 20, .65);
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.fs-cc-prefs_trigger {
  display: none;
}

.fs-cc-prefs_toggle {
  width: 1.25rem;
  height: 1.25rem;
  background-color: #fff;
  border-radius: 999px;
}

.fs-cc-prefs_buttons-wrapper {
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: flex-end;
  margin-top: 2rem;
  margin-right: -.5rem;
  display: flex;
}

.fs-cc-prefs_checkbox-field {
  width: 2.75rem;
  height: 1.5rem;
  background-color: #ccc;
  border-radius: 999rem;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  margin-bottom: 0;
  padding: .125rem;
  display: flex;
  position: relative;
}

.fs-cc-banner_text {
  color: #141414;
  margin-right: 1.5rem;
  font-size: 14px;
  line-height: 22px;
}

.fs-cc-banner_container {
  width: 100%;
  max-width: 62.5rem;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.fs-cc-prefs_component {
  z-index: 997;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
  padding: 2rem;
  display: none;
  position: fixed;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.fs-cc-prefs_title {
  color: #141414;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.2em;
}

.fs-cc-prefs_checkbox {
  z-index: 1;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
  margin-top: 0;
  margin-left: 0;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.fs-cc-manager_button {
  width: 32px;
  height: 32px;
  background-color: var(--accent);
  opacity: .15;
  cursor: pointer;
  border-radius: 999rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: color .2s;
  display: flex;
}

.fs-cc-manager_button:hover {
  color: #4353ff;
}

.fs-cc-prefs_space-medium {
  margin-bottom: 2.5rem;
}

.fs-cc-prefs_submit-hide {
  display: none;
}

.link {
  color: #141414;
  border-bottom: 1px solid #141414;
  text-decoration: none;
}

.fs-cc-prefs_close-icon {
  width: 1rem;
  height: 1rem;
  color: #021a7c;
}

.fs-cc-prefs_checkbox-label, .fs-cc-banner_trigger {
  display: none;
}

.fs-cc-prefs_button {
  border-radius: var(--rounded-corner);
  background-color: var(--accent);
  border: 1px #000;
  margin-right: .5rem;
  padding: .625rem 1.5rem;
  font-size: .875rem;
  font-weight: 700;
}

.fs-cc-prefs_button.fs-cc-button-alt {
  color: #141414;
  background-color: rgba(0, 0, 0, 0);
  border-style: solid;
  border-color: #141414;
}

.highlight__wrap-info {
  z-index: 2;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 40px;
  display: flex;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: auto;
}

.highlight__container {
  width: 100%;
  min-height: 100svh;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-rows: auto;
  grid-template-columns: 1.25fr .5fr;
  grid-auto-columns: 1fr;
  font-family: Montserrat, sans-serif;
  display: grid;
  position: relative;
}

.highlight__number {
  font-size: 18vw;
  font-weight: 100;
  line-height: 18vw;
  position: relative;
  left: -40%;
}

.highlight__image {
  height: 100%;
  background-image: var(--image-61ec3fa1);
  background-position: 50%;
  background-size: cover;
  position: relative;
}

.highlight__image.secondary, .highlight__image.primary {
  background-image: none;
  justify-content: center;
  align-items: center;
  display: flex;
}

.highlight-title {
  margin-top: 4px;
  font-size: 2rem;
  font-weight: 700;
  line-height: 2rem;
}

.highlight__wrap-title {
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
  display: flex;
}

.highlight__wrap-number {
  height: 25vw;
  justify-content: flex-start;
  align-items: center;
  margin-left: -12%;
  display: flex;
  position: relative;
  overflow: visible;
}

.highlight__side {
  width: 100%;
  height: 100%;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-rows: auto auto auto;
  grid-template-columns: .25fr .5fr;
  grid-auto-columns: 1fr;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
}

.highlight__side.color {
  background-color: var(--accent);
}

.highlight__wrap-images {
  z-index: 1;
  width: 100%;
  max-height: 80vh;
  max-width: 900px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  aspect-ratio: 8 / 5;
  cursor: pointer;
  object-fit: cover;
  grid-template-rows: auto;
  grid-template-columns: 1fr .5fr;
  grid-auto-columns: 1fr;
  justify-content: space-between;
  align-items: center;
  margin-top: 80px;
  display: grid;
  position: relative;
  transform: translate(25%);
}

.img__wrap-secondary {
  z-index: 888;
  width: 100%;
  height: 100%;
  background-color: #dbdbdb;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  overflow: visible;
}

.img__secondary {
  width: 100%;
  height: 100%;
  background-image: var(--image-313268c8);
  background-position: 50%;
  background-size: cover;
  position: absolute;
}

.highlight__cl-wrapper {
  width: 100%;
  max-width: 100vw;
  flex-direction: column;
  display: flex;
  position: relative;
}

.highlight__cl {
  grid-row-gap: 32px;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  display: flex;
  position: relative;
}

.highlight__cl.horizontal-scroll {
  width: 300vw;
}

.highlight__cl-item {
  width: 100%;
  height: auto;
  position: relative;
}

.highlight__link-arrow {
  justify-content: flex-start;
  align-items: center;
  display: flex;
  position: absolute;
  top: 44px;
  bottom: auto;
  left: auto;
  right: 40px;
}

.embed-icon-arrow {
  width: 11px;
  aspect-ratio: 1 / 1;
  margin-left: 8px;
}

.icon-cta-text {
  font-weight: 600;
  line-height: 1;
}

.highlight__sticky-container {
  width: 100%;
  height: 300vw;
  margin-top: 8rem;
  margin-bottom: 8rem;
  display: flex;
  position: relative;
}

.highlight__sticky-wrap {
  width: 100%;
  height: 100svh;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  overflow: hidden;
}

.highlight__scroll-inner {
  width: 300vw;
  height: auto;
  align-items: flex-end;
  padding-left: 35%;
  padding-right: 0%;
  display: flex;
}

.fake {
  z-index: 2;
  height: 190vh;
  background-color: #ff0084;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
}

.footer__advertising {
  color: var(--white);
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding-bottom: 32px;
  display: flex;
}

.footer__advertising-legend {
  font-size: .8rem;
}

.img-drawing {
  z-index: 1;
  width: 100%;
  aspect-ratio: 1 / 1;
  position: absolute;
}

.img-drawing.overlay {
  z-index: 2;
}

.heading_wrap {
  width: 100%;
  max-width: 1000px;
}

.split-lines {
  color: var(--accent);
  padding-bottom: 18px;
  font-size: 6.5rem;
  line-height: 6.4rem;
}

.link-2 {
  color: var(--white);
  text-decoration: none;
}

.container {
  width: 90vw;
  max-width: 1360px;
  margin-left: auto;
  margin-right: auto;
}

.timeline_progress-bar {
  z-index: -1;
  width: 3px;
  height: 50vh;
  background-color: #fff;
  background-image: linear-gradient(#09442f, #fff);
  border-radius: 4px;
  position: fixed;
  top: 0;
  bottom: 50vh;
  left: auto;
  right: auto;
}

.timeline_image-wrapper {
  width: 100%;
  aspect-ratio: 1 / 1;
  border-radius: var(--rounded-corner);
  background-color: var(--accent-darker);
  overflow: hidden;
}

.timeline_image-wrapper.margin-top {
  margin-top: 32px;
}

.text-colour-white {
  color: #fff;
}

.section-timeline {
  z-index: -3;
  background-color: #09442f;
  position: relative;
}

.timeline_quote-text-wrapper {
  flex: 1;
}

.timeline_quote-title {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
}

.text-colour-lightgrey {
  color: rgba(255, 255, 255, .65);
}

.margin-bottom-medium {
  margin-bottom: 32px;
}

.timeline_quote-image {
  width: 48px;
  height: 48px;
  aspect-ratio: 1 / 1;
  border-radius: var(--rounded-corner);
  margin-right: 24px;
}

.section-timeline-cta {
  background-color: #09442f;
}

.timeline_definition-wrapper {
  border-radius: var(--rounded-corner);
  background-color: rgba(255, 255, 255, .05);
  padding: 16px;
}

.timeline_centre {
  justify-content: center;
  display: flex;
  position: relative;
}

.margin-bottom-xlarge {
  margin-bottom: 56px;
}

.timeline_progress {
  z-index: -2;
  width: 3px;
  height: 100%;
  background-color: #0c3829;
  position: absolute;
}

.timeline__item {
  z-index: 2;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 180px 1fr;
  grid-auto-columns: 1fr;
  margin-top: 80px;
  margin-bottom: 80px;
  display: grid;
  position: relative;
}

.padding-vertical-xlarge {
  padding-top: 120px;
  padding-bottom: 120px;
}

.paragraph-large {
  letter-spacing: -.02em;
  font-size: 20px;
}

.timeline_quote-wrapper {
  border-radius: var(--rounded-corner);
  border: 2px solid #fff;
  align-items: flex-start;
  padding: 24px;
  display: flex;
}

.inline-block {
  display: inline-block;
}

.timeline-main_heading-wrapper {
  max-width: 640px;
  color: #fff;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.overlay-fade-top {
  height: 80px;
  background-image: linear-gradient(#09442f, rgba(10, 10, 10, 0));
  position: absolute;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: 0%;
}

.margin-bottom-small {
  margin-bottom: 24px;
}

.timeline_text {
  color: #fff;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.3;
}

.overlay-fade-bottom {
  height: 80px;
  background-image: linear-gradient(to top, #09442f, rgba(10, 10, 10, 0));
  position: absolute;
  top: auto;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.timeline_component {
  max-width: 1120px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  position: relative;
}

.link-icon {
  width: 14px;
  height: 14px;
  margin-left: 8px;
}

.timeline__left {
  text-align: right;
  justify-content: flex-end;
  align-items: stretch;
}

.timeline_link {
  opacity: .6;
  color: #fff;
  letter-spacing: .8px;
  text-transform: uppercase;
  border-radius: 8px;
  align-items: center;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.3;
  text-decoration: none;
  transition: opacity .3s;
  display: flex;
}

.timeline_link:hover {
  opacity: 1;
}

.timeline_date-text {
  color: #fff;
  letter-spacing: -.03em;
  font-size: 48px;
  font-weight: 500;
  line-height: 1.2;
  position: -webkit-sticky;
  position: sticky;
  top: 50vh;
}

.section-timeline-heading {
  background-color: #09442f;
}

.timeline_milestone-badge {
  border-radius: var(--rounded-corner);
  color: #161616;
  letter-spacing: .05em;
  text-transform: uppercase;
  background-color: #fff;
  margin-bottom: 24px;
  padding: 8px 12px;
  font-size: 14px;
  font-weight: 700;
  line-height: 12px;
  display: inline-block;
}

.margin-bottom-large {
  margin-bottom: 40px;
}

.timeline__circle {
  width: 15px;
  height: 15px;
  max-height: 15px;
  max-width: 15px;
  min-height: 15px;
  min-width: 15px;
  background-color: #fff;
  border-radius: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 50vh;
  box-shadow: 0 0 0 8px #09442f;
}

.timeline_badge {
  color: #fff;
  letter-spacing: .05em;
  text-transform: uppercase;
  background-color: rgba(255, 255, 255, .15);
  border-radius: 8px;
  margin-top: 16px;
  margin-bottom: 16px;
  padding: 6px 8px;
  font-size: 12px;
  font-weight: 700;
  line-height: 12px;
  display: inline-block;
}

.timeline_quote {
  color: #fff;
  margin-bottom: 16px;
  font-size: 14px;
}

.button-inverted {
  border-radius: var(--rounded-corner);
  color: #161616;
  letter-spacing: .05em;
  text-transform: uppercase;
  background-color: #fff;
  border: 2px solid #fff;
  padding: 14px 32px;
  font-weight: 700;
  line-height: 20px;
  transition: all .4s;
}

.button-inverted:hover {
  transform: translate(0, -4px);
}

.timeline__container {
  z-index: 1;
  position: relative;
}

.footer__link-legend {
  color: var(--white);
  text-decoration: none;
}

.hero__container {
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
}

.hero__img-wrapper {
  width: 100%;
  border-radius: var(--rounded-corner);
  background-color: rgba(0, 0, 0, .25);
  position: relative;
  overflow: hidden;
}

.hero__img {
  width: 100%;
  height: 45vw;
  object-fit: cover;
}

.hero__img-overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(20, 20, 20, .25);
  display: none;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.info__list-item {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 0;
  font-size: .9rem;
  display: flex;
}

.info__list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.info__container {
  width: 100%;
  grid-column-gap: 80px;
  grid-row-gap: 0px;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.info__description {
  max-width: 600px;
}

.related__cl-wrapper {
  width: 100%;
  margin-top: 24px;
}

.related__cl {
  flex-flow: wrap;
  margin-left: -8px;
  margin-right: -8px;
  display: flex;
}

.related__item {
  width: 33.3333%;
  padding-left: 8px;
  padding-right: 8px;
}

.related__wrap {
  width: 100%;
  height: auto;
  aspect-ratio: 2 / 3;
  background-image: var(--image-7b40fadb);
  background-position: 50%;
  background-size: cover;
  margin-bottom: 16px;
}

.text-block-3 {
  display: inline-block;
}

.related__text {
  font-weight: 600;
}

.embed-info {
  display: none;
}

.timeline__image {
  aspect-ratio: 1 / 1;
  position: relative;
}

@media screen and (max-width: 991px) {
  h1 {
    font-size: 10rem;
  }

  h2 {
    font-size: 2.75rem;
  }

  h3 {
    font-size: 2.7rem;
  }

  h4 {
    font-size: 1.75rem;
  }

  .hide-tablet {
    display: none;
  }

  .padding-large {
    padding: 2.5rem;
  }

  .margin-bottom {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .padding-bottom {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .text-size-medium {
    font-size: 1rem;
  }

  .heading-style-h5 {
    font-size: 1.8rem;
  }

  .button.is-icon.is-small {
    justify-content: flex-end;
    padding-left: 0;
    padding-right: 0;
  }

  .padding-section-medium {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .padding-section-large {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }

  .navbar1_menu {
    z-index: 97;
    width: 80vw;
    min-height: 100vh;
    background-color: #fff;
    border-left: 1px solid #ebebeb;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 25vw;
    position: fixed;
    top: 0%;
    bottom: auto;
    left: auto;
    right: 0%;
    transform: translate(105%);
  }

  .embed-burger {
    z-index: 98;
    display: block;
    position: relative;
  }

  .embed-burger.w--open {
    background-color: rgba(0, 0, 0, 0);
  }

  .navbar_link {
    width: auto;
    padding: .75rem 0;
  }

  .navbar_link.hide-desktop {
    display: block;
  }

  .header_component {
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    grid-template-columns: 1fr 1.5fr;
  }

  .projects_heading {
    margin-right: 3rem;
  }

  .title_h2 {
    font-size: 3.6rem;
  }

  .process_button-row {
    flex: none;
  }

  .process_heading-wrapper-copy {
    grid-column-gap: .5rem;
    grid-row-gap: .5rem;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr;
  }

  .icon_wrapper {
    justify-content: flex-start;
  }

  .footer__grid-main {
    grid-template-columns: .5fr 1fr;
  }

  .nav_logo {
    z-index: 2;
    position: relative;
  }

  .ui1 {
    width: 20rem;
  }

  .header-img_scroll-trigger {
    width: .4rem;
    height: 50vh;
  }

  .ui4 {
    top: -2rem;
  }

  .header-img_img {
    height: 50vh;
    display: block;
  }

  .mixitup__collection-item {
    width: 50%;
  }

  .filter__collection-list-wrapper {
    width: 100%;
    margin-left: 0;
  }

  .mixitup__helpers {
    top: auto;
    bottom: 33px;
    left: auto;
    right: 0%;
  }

  .thumb__hover-desktop {
    display: none;
  }

  .collection-list {
    grid-column-gap: 4px;
    padding: 8px;
  }

  .fs-cc-banner_buttons-wrapper {
    margin-top: 1rem;
  }

  .fs-cc-banner_text {
    margin-right: 0;
  }

  .fs-cc-banner_container {
    flex-direction: column;
    align-items: flex-start;
  }

  .highlight__wrap-info {
    padding-top: 56px;
    padding-bottom: 56px;
  }

  .highlight__container {
    min-height: auto;
    flex-direction: column;
    grid-template-rows: .75fr .25fr;
    grid-template-columns: 1fr;
    justify-content: flex-start;
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
  }

  .highlight__number {
    left: 0;
  }

  .highlight__image.secondary {
    width: 100%;
    max-width: 400px;
    aspect-ratio: 3 / 2;
    margin-top: -15%;
    position: relative;
  }

  .highlight__image.primary {
    width: 100%;
    aspect-ratio: 1 / 1;
  }

  .highlight-title {
    font-size: 1.6rem;
    line-height: 1.6rem;
  }

  .highlight__wrap-number {
    margin-left: 0%;
    display: none;
  }

  .highlight__side.color {
    height: 260px;
  }

  .highlight__wrap-images {
    width: 60%;
    max-height: none;
    aspect-ratio: auto;
    flex-direction: column;
    grid-template-rows: 1fr .5fr;
    grid-template-columns: 1fr;
    align-items: center;
    display: flex;
    top: 88px;
    transform: none;
  }

  .highlight__cl {
    grid-row-gap: 0px;
  }

  .highlight__cl.horizontal-scroll {
    width: 100%;
    flex-direction: column;
  }

  .highlight__link-arrow {
    top: auto;
    bottom: 40px;
    left: 40px;
    right: auto;
  }

  .embed-icon-arrow {
    position: relative;
  }

  .highlight__sticky-container {
    height: auto;
    margin-top: 6rem;
    margin-bottom: 6rem;
  }

  .highlight__sticky-wrap {
    height: auto;
  }

  .highlight__scroll-inner {
    width: 100%;
    padding-left: 0%;
  }

  .footer__advertising {
    flex-direction: row;
  }

  .split-lines {
    font-size: 4.6rem;
    line-height: 4.6rem;
  }

  .hero__img-wrapper, .hero__img {
    height: 100%;
  }

  .info__list {
    max-width: 360px;
    margin-top: 1.6rem;
  }

  .info__container {
    flex-direction: column;
    justify-content: flex-start;
  }
}

@media screen and (max-width: 767px) {
  h1 {
    font-size: 9rem;
  }

  h2 {
    font-size: 2.25rem;
  }

  h3 {
    font-size: 2rem;
  }

  h4 {
    font-size: 1.5rem;
    line-height: 1.4;
  }

  h5 {
    font-size: 1.25rem;
  }

  h6 {
    font-size: 1.125rem;
  }

  .max-width-small {
    font-weight: 300;
  }

  .margin-small {
    margin: 1.25rem;
  }

  .padding-small {
    padding: 1.25rem;
  }

  .padding-large {
    padding: 2rem;
  }

  .margin-bottom {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .padding-bottom {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .text-size-medium {
    max-width: 400px;
  }

  .heading-style-h5 {
    font-size: 1.25rem;
  }

  .padding-section-small {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  .padding-global.collage {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .padding-section-medium {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  .padding-section-large {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .navbar1_menu {
    width: 70vw;
  }

  .navbar_component {
    height: auto;
    min-height: 4rem;
  }

  .header_component {
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr;
    margin-top: 4rem;
  }

  .projects_heading {
    margin-right: 0;
  }

  .faq1_icon {
    width: 1.75rem;
  }

  .faq_answer {
    grid-template-columns: 1fr 1fr .25fr;
  }

  .process_question {
    grid-template-columns: 1fr 1fr .25fr;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .subtitle_content {
    width: 32rem;
  }

  .process_button-row {
    width: 100%;
    justify-content: flex-start;
  }

  .process_heading-wrapper-copy {
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    flex-direction: column;
    grid-template-columns: 1fr;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .icon_wrapper {
    justify-content: flex-start;
  }

  .text-block {
    display: none;
  }

  .footer__copy-and-socials {
    grid-template-rows: auto auto;
    grid-template-columns: 1fr;
  }

  .section.hero {
    min-height: 80vh;
    justify-content: center;
  }

  .section.faq {
    padding-bottom: 3rem;
  }

  .footer__social {
    margin-bottom: 24px;
  }

  .footer__copyright-logo {
    width: 40px;
  }

  .footer__grid-main {
    grid-template-rows: auto auto auto auto;
    grid-template-columns: 1fr;
  }

  .footer__headline {
    font-size: 2.8em;
  }

  .footer__list-title {
    margin-bottom: 24px;
  }

  .img_scroll1 {
    height: 100%;
    object-fit: cover;
  }

  .header-img_ui-back.hide-mobile-landscape {
    display: none;
  }

  .header-img_sticky-wraper {
    position: relative;
    top: 0;
  }

  .header-img_scroll-trigger {
    height: 0;
  }

  .header-img_ui-front.hide-mobile-landscape {
    display: none;
  }

  .hero-logomark {
    margin-bottom: 2rem;
  }

  .search__field {
    width: 100%;
    min-width: auto;
    border-width: 1px;
  }

  .search__field::-ms-input-placeholder {
    font-size: 16px;
  }

  .search__field::placeholder {
    font-size: 16px;
  }

  .filter__round {
    top: 13px;
  }

  .filter__collection-list {
    margin-left: 0;
  }

  .filter {
    border-width: 1px;
    padding-left: 16px;
    padding-right: 16px;
  }

  .gallery__cl-item {
    width: 50%;
  }

  .fs-cc-banner_container {
    flex-direction: column;
    align-items: flex-start;
  }

  .fs-cc-prefs_title {
    font-size: 1.25rem;
  }

  .highlight__wrap-info {
    justify-content: flex-start;
  }

  .highlight__container {
    min-height: auto;
  }

  .highlight__number {
    font-size: 1rem;
    font-weight: 300;
    line-height: 1rem;
    display: none;
  }

  .highlight__image.secondary {
    width: 80%;
    aspect-ratio: 2 / 3;
    margin-top: 0%;
  }

  .highlight-title {
    font-size: 1.8rem;
    line-height: 1.8rem;
  }

  .highlight__legend {
    font-size: .8rem;
  }

  .highlight__legend.category {
    display: none;
  }

  .highlight__side.color {
    height: 160px;
  }

  .highlight__wrap-images {
    width: 90%;
    flex-direction: row;
    top: 60px;
  }

  .highlight__sticky-container {
    margin-top: 2rem;
    margin-bottom: 4rem;
  }

  .highlight__scroll-inner {
    width: 100%;
    height: auto;
    flex-direction: column;
    align-items: center;
    padding-left: 0%;
    padding-right: 0%;
  }

  .split-lines {
    font-size: 4.6rem;
    line-height: 4.6rem;
  }

  .timeline_quote-image {
    margin-top: 24px;
    margin-right: 0;
  }

  .timeline_centre {
    justify-content: flex-start;
  }

  .margin-bottom-xlarge {
    margin-bottom: 48px;
  }

  .timeline_progress {
    left: 6px;
  }

  .timeline__item {
    width: 100%;
    grid-template-columns: 64px 1fr;
  }

  .padding-vertical-xlarge {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .paragraph-large {
    font-size: 18px;
  }

  .timeline_quote-wrapper {
    flex-direction: column-reverse;
  }

  .margin-bottom-small {
    margin-bottom: 24px;
  }

  .timeline_text {
    font-size: 20px;
  }

  .timeline__left {
    text-align: left;
  }

  .timeline_date-text {
    margin-bottom: 24px;
    font-size: 36px;
  }

  .button-inverted {
    padding: 14px 24px;
  }

  .related__cl {
    margin-left: -4px;
    margin-right: -4px;
  }

  .related__item {
    padding-left: 4px;
    padding-right: 4px;
  }
}

@media screen and (max-width: 479px) {
  h1 {
    font-size: 8rem;
  }

  .margin-bottom {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .padding-bottom {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .button.is-icon {
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
  }

  .padding-section-small.nopadding {
    padding-top: 0;
    padding-bottom: 0;
  }

  .navbar1_menu {
    padding-left: 16vw;
  }

  .faq_answer {
    grid-template-rows: auto;
    grid-template-columns: 2fr;
  }

  .process_question {
    grid-template-columns: 1fr 1.5fr .25fr;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .subtitle_content {
    width: auto;
  }

  .title_h2 {
    font-size: 2.4rem;
  }

  .icon_wrapper {
    justify-content: flex-start;
  }

  .footer__grid-locations {
    grid-template-rows: auto auto;
    grid-template-columns: 1fr;
  }

  .footer__copy-and-socials {
    grid-auto-flow: row;
  }

  .section.quote {
    min-height: auto;
  }

  .section.faq {
    padding-bottom: 2rem;
  }

  .footer__headline {
    font-size: 2.4em;
  }

  .footer__list-title {
    margin-bottom: 16px;
  }

  .filter__collection-list {
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }

  .mixitup__controls {
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    margin: -4px;
  }

  .filter {
    flex: 2 auto;
    margin: 4px;
  }

  .filter__collection-item {
    flex: 1;
    display: flex;
  }

  .search {
    flex: 2 auto;
    margin: 4px;
  }

  .fs-cc-prefs_content {
    padding: 1.5rem;
  }

  .fs-cc-banner_buttons-wrapper {
    width: 100%;
    text-align: center;
    flex-direction: column-reverse;
    align-items: center;
  }

  .fs-cc-banner_button {
    width: 100%;
    margin-bottom: .5rem;
    margin-left: 0;
  }

  .fs-cc-prefs_component {
    padding: 1.5rem;
  }

  .fs-cc-prefs_button {
    margin-bottom: .5rem;
  }

  .highlight__wrap-info {
    width: 70%;
    align-items: flex-start;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
  }

  .highlight__number {
    margin-top: 16vh;
    font-size: 4rem;
    line-height: 4rem;
  }

  .highlight__image.secondary {
    max-width: 70%;
    aspect-ratio: 2 / 3;
    margin-top: -15%;
  }

  .highlight__wrap-number {
    margin-top: 36vw;
    margin-left: 0;
  }

  .highlight__wrap-images {
    width: 100%;
    flex-direction: column;
    padding-left: 24px;
    padding-right: 24px;
  }

  .highlight__link-arrow {
    justify-content: center;
    top: auto;
    left: 0%;
    right: 0%;
  }

  .highlight__sticky-container {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .footer__advertising {
    flex-direction: column;
    align-items: flex-start;
  }

  .split-lines {
    font-size: 2.4em;
    line-height: 2.8rem;
  }

  .margin-bottom-medium {
    margin-bottom: 24px;
  }

  .timeline__item {
    grid-template-columns: 48px 1fr;
  }

  .paragraph-large {
    font-size: 16px;
  }

  .hero__container {
    height: 80vh;
  }

  .info__list-item {
    margin-top: 0;
    margin-bottom: 0;
  }

  .info__list {
    grid-column-gap: 8px;
    grid-row-gap: 8px;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    display: none;
  }

  .info__text {
    font-size: .9rem;
  }

  .embed-info {
    margin-top: 24px;
    font-size: .9rem;
    display: block;
  }
}

#w-node-_67b0b303-8c0d-4b3f-6c01-fa306602b233-d6db5f97, #w-node-_53c7eda2-ee89-6435-6fab-a5202a1d8402-d6db5f97 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_53c7eda2-ee89-6435-6fab-a5202a1d840c-d6db5f97 {
  grid-area: 1 / 1 / 2 / 2;
}

#w-node-_53c7eda2-ee89-6435-6fab-a5202a1d840d-d6db5f97, #w-node-_53c7eda2-ee89-6435-6fab-a5202a1d8410-d6db5f97 {
  grid-area: 1 / 2 / 2 / 3;
}

#w-node-_77cfda53-1de3-18bf-b016-3e5a4bf82757-d6db5f97 {
  justify-self: end;
}

#w-node-_385d7b37-6c03-a20b-10f9-5d76d3ce3c46-d6db5f97 {
  grid-area: span 1 / span 1 / span 1 / span 1;
  justify-self: auto;
}

#w-node-_385d7b37-6c03-a20b-10f9-5d76d3ce3c4b-d6db5f97 {
  grid-area: 1 / 2 / 2 / 3;
}

#w-node-_258ff836-0609-f050-2ea9-05c73da14ab4-d6db5f97 {
  grid-area: span 1 / span 1 / span 1 / span 1;
  justify-self: auto;
}

#w-node-_258ff836-0609-f050-2ea9-05c73da14ab7-d6db5f97 {
  grid-area: 1 / 2 / 2 / 3;
}

#w-node-_6f7db83a-a2c6-e090-665f-2eb324bd8c7a-d6db5f97 {
  grid-area: span 1 / span 1 / span 1 / span 1;
  justify-self: auto;
}

#w-node-_6f7db83a-a2c6-e090-665f-2eb324bd8c7d-d6db5f97 {
  grid-area: 1 / 2 / 2 / 3;
}

#w-node-f2c93683-2e9a-000b-342b-825c29c1651a-d6db5f97 {
  grid-area: span 1 / span 1 / span 1 / span 1;
  justify-self: auto;
}

#w-node-f2c93683-2e9a-000b-342b-825c29c1651d-d6db5f97 {
  grid-area: 1 / 2 / 2 / 3;
}

#w-node-ff730b9b-e26f-2b93-25e2-ff657184cd23-7184cd17, #w-node-ff730b9b-e26f-2b93-25e2-ff657184cd26-7184cd17, #w-node-ff730b9b-e26f-2b93-25e2-ff657184cd3f-7184cd17 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-ff730b9b-e26f-2b93-25e2-ff657184cd42-7184cd17 {
  grid-area: 2 / 2 / 3 / 3;
}

#w-node-_67c26b09-243f-5f0d-9a63-422fa8e8e940-d6db5ff8 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_1f3e8f7c-7b10-e8d5-7708-9cf46683887b-d6db5ffb {
  justify-self: end;
}

#w-node-_1f3e8f7c-7b10-e8d5-7708-9cf466838888-d6db5ffb {
  grid-area: span 1 / span 1 / span 1 / span 1;
  justify-self: auto;
}

#w-node-_1f3e8f7c-7b10-e8d5-7708-9cf46683888b-d6db5ffb {
  grid-area: 1 / 2 / 2 / 3;
}

#w-node-_1f3e8f7c-7b10-e8d5-7708-9cf466838896-d6db5ffb {
  grid-area: span 1 / span 1 / span 1 / span 1;
  justify-self: auto;
}

#w-node-_1f3e8f7c-7b10-e8d5-7708-9cf466838899-d6db5ffb {
  grid-area: 1 / 2 / 2 / 3;
}

#w-node-_1f3e8f7c-7b10-e8d5-7708-9cf4668388a4-d6db5ffb {
  grid-area: span 1 / span 1 / span 1 / span 1;
  justify-self: auto;
}

#w-node-_1f3e8f7c-7b10-e8d5-7708-9cf4668388a7-d6db5ffb {
  grid-area: 1 / 2 / 2 / 3;
}

#w-node-_1f3e8f7c-7b10-e8d5-7708-9cf4668388b2-d6db5ffb {
  grid-area: span 1 / span 1 / span 1 / span 1;
  justify-self: auto;
}

#w-node-_1f3e8f7c-7b10-e8d5-7708-9cf4668388b5-d6db5ffb {
  grid-area: 1 / 2 / 2 / 3;
}

#w-node-_06f306b2-e721-d8a4-8f5d-b58b129788c2-d6db6021 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_06f306b2-e721-d8a4-8f5d-b58b129788cf-d6db6021 {
  grid-area: 1 / 1 / 2 / 2;
}

#w-node-_06f306b2-e721-d8a4-8f5d-b58b129788d0-d6db6021, #w-node-_06f306b2-e721-d8a4-8f5d-b58b129788d3-d6db6021 {
  grid-area: 1 / 2 / 2 / 3;
}

#w-node-_1184be96-35cf-4253-f1fb-11aa57c96eb2-d6db6021 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_1184be96-35cf-4253-f1fb-11aa57c96ebc-d6db6021 {
  grid-area: 1 / 1 / 2 / 2;
}

#w-node-_1184be96-35cf-4253-f1fb-11aa57c96ebd-d6db6021, #w-node-_1184be96-35cf-4253-f1fb-11aa57c96ec0-d6db6021 {
  grid-area: 1 / 2 / 2 / 3;
}

#w-node-_1184be96-35cf-4253-f1fb-11aa57c96eb2-d6db6022 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_1184be96-35cf-4253-f1fb-11aa57c96ebc-d6db6022 {
  grid-area: 1 / 1 / 2 / 2;
}

#w-node-_1184be96-35cf-4253-f1fb-11aa57c96ebd-d6db6022, #w-node-_1184be96-35cf-4253-f1fb-11aa57c96ec0-d6db6022 {
  grid-area: 1 / 2 / 2 / 3;
}

#w-node-_207b05f7-94a6-cfa5-8f62-15302c12ee04-d6db6023 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_207b05f7-94a6-cfa5-8f62-15302c12ee11-d6db6023 {
  grid-area: 1 / 1 / 2 / 2;
}

#w-node-_207b05f7-94a6-cfa5-8f62-15302c12ee12-d6db6023, #w-node-_207b05f7-94a6-cfa5-8f62-15302c12ee13-d6db6023 {
  grid-area: 1 / 2 / 2 / 3;
}

#w-node-_207b05f7-94a6-cfa5-8f62-15302c12ee04-d6db6038 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_207b05f7-94a6-cfa5-8f62-15302c12ee11-d6db6038 {
  grid-area: 1 / 1 / 2 / 2;
}

#w-node-_207b05f7-94a6-cfa5-8f62-15302c12ee12-d6db6038, #w-node-_207b05f7-94a6-cfa5-8f62-15302c12ee13-d6db6038 {
  grid-area: 1 / 2 / 2 / 3;
}

#w-node-a86fd881-0fc2-4a8d-fc98-a43d8623202b-d6db6038 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-a86fd881-0fc2-4a8d-fc98-a43d86232038-d6db6038 {
  grid-area: 1 / 1 / 2 / 2;
}

#w-node-a86fd881-0fc2-4a8d-fc98-a43d86232039-d6db6038, #w-node-a86fd881-0fc2-4a8d-fc98-a43d8623203c-d6db6038 {
  grid-area: 1 / 2 / 2 / 3;
}

#w-node-e15aadbd-9cf5-c7d8-5f46-48ec46bbc996-d6db6038 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-e15aadbd-9cf5-c7d8-5f46-48ec46bbc9a3-d6db6038 {
  grid-area: 1 / 1 / 2 / 2;
}

#w-node-e15aadbd-9cf5-c7d8-5f46-48ec46bbc9a4-d6db6038, #w-node-e15aadbd-9cf5-c7d8-5f46-48ec46bbc9a7-d6db6038 {
  grid-area: 1 / 2 / 2 / 3;
}

#w-node-_17a23234-88f0-c9b1-3023-06956a583fbc-d6db6038 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_17a23234-88f0-c9b1-3023-06956a583fc9-d6db6038 {
  grid-area: 1 / 1 / 2 / 2;
}

#w-node-_17a23234-88f0-c9b1-3023-06956a583fca-d6db6038, #w-node-_17a23234-88f0-c9b1-3023-06956a583fcd-d6db6038 {
  grid-area: 1 / 2 / 2 / 3;
}

#w-node-_8d46de14-ceb1-c08b-91a1-6101434e1269-d6db603d, #w-node-a30e49aa-5f5d-aeb0-fc65-e53c0431fce5-d6db6059 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

@media screen and (max-width: 991px) {
  #w-node-_53c7eda2-ee89-6435-6fab-a5202a1d840d-d6db5f97, #w-node-_53c7eda2-ee89-6435-6fab-a5202a1d8410-d6db5f97 {
    grid-area: 2 / 1 / 3 / 2;
  }

  #w-node-_77cfda53-1de3-18bf-b016-3e5a4bf82757-d6db5f97, #w-node-_1f3e8f7c-7b10-e8d5-7708-9cf46683887b-d6db5ffb {
    justify-self: stretch;
  }

  #w-node-_06f306b2-e721-d8a4-8f5d-b58b129788d0-d6db6021, #w-node-_06f306b2-e721-d8a4-8f5d-b58b129788d3-d6db6021, #w-node-_1184be96-35cf-4253-f1fb-11aa57c96ebd-d6db6021, #w-node-_1184be96-35cf-4253-f1fb-11aa57c96ec0-d6db6021, #w-node-_1184be96-35cf-4253-f1fb-11aa57c96ebd-d6db6022, #w-node-_1184be96-35cf-4253-f1fb-11aa57c96ec0-d6db6022, #w-node-_207b05f7-94a6-cfa5-8f62-15302c12ee12-d6db6023, #w-node-_207b05f7-94a6-cfa5-8f62-15302c12ee13-d6db6023, #w-node-_207b05f7-94a6-cfa5-8f62-15302c12ee12-d6db6038, #w-node-_207b05f7-94a6-cfa5-8f62-15302c12ee13-d6db6038, #w-node-a86fd881-0fc2-4a8d-fc98-a43d86232039-d6db6038, #w-node-a86fd881-0fc2-4a8d-fc98-a43d8623203c-d6db6038, #w-node-e15aadbd-9cf5-c7d8-5f46-48ec46bbc9a4-d6db6038, #w-node-e15aadbd-9cf5-c7d8-5f46-48ec46bbc9a7-d6db6038, #w-node-_17a23234-88f0-c9b1-3023-06956a583fca-d6db6038, #w-node-_17a23234-88f0-c9b1-3023-06956a583fcd-d6db6038 {
    grid-area: 2 / 1 / 3 / 2;
  }
}

@media screen and (max-width: 767px) {
  #w-node-_385d7b37-6c03-a20b-10f9-5d76d3ce3c4b-d6db5f97, #w-node-_258ff836-0609-f050-2ea9-05c73da14ab7-d6db5f97, #w-node-_6f7db83a-a2c6-e090-665f-2eb324bd8c7d-d6db5f97, #w-node-f2c93683-2e9a-000b-342b-825c29c1651d-d6db5f97 {
    grid-area: 1 / 1 / 2 / 4;
  }

  #w-node-ff730b9b-e26f-2b93-25e2-ff657184cd26-7184cd17 {
    grid-area: 3 / 1 / 4 / 2;
  }

  #w-node-ff730b9b-e26f-2b93-25e2-ff657184cd3f-7184cd17 {
    grid-area: 2 / 1 / 3 / 2;
  }

  #w-node-ff730b9b-e26f-2b93-25e2-ff657184cd42-7184cd17 {
    grid-area: 4 / 1 / 5 / 2;
  }

  #w-node-ff730b9b-e26f-2b93-25e2-ff657184cd44-7184cd17 {
    grid-area: 2 / 1 / 3 / 2;
  }

  #w-node-ff730b9b-e26f-2b93-25e2-ff657184cd4a-7184cd17 {
    grid-area: 1 / 1 / 2 / 2;
  }

  #w-node-_356aea29-dc52-fa31-addf-60168506b65f-8506b64d {
    grid-area: 1 / 2 / 2 / 3;
  }

  #w-node-_356aea29-dc52-fa31-addf-60168506b662-8506b64d {
    grid-area: 1 / 1 / 3 / 2;
  }

  #w-node-d915c76d-e026-e887-fd69-ee66c60d4bb7-8506b64d {
    grid-area: 1 / 2 / 2 / 3;
  }

  #w-node-d915c76d-e026-e887-fd69-ee66c60d4bba-8506b64d {
    grid-area: 1 / 1 / 3 / 2;
  }

  #w-node-_356aea29-dc52-fa31-addf-60168506b679-8506b64d {
    grid-area: 1 / 2 / 2 / 3;
  }

  #w-node-_356aea29-dc52-fa31-addf-60168506b67c-8506b64d {
    grid-area: 1 / 1 / 3 / 2;
  }

  #w-node-_356aea29-dc52-fa31-addf-60168506b68c-8506b64d {
    grid-area: 1 / 2 / 2 / 3;
  }

  #w-node-_356aea29-dc52-fa31-addf-60168506b68f-8506b64d {
    grid-area: 1 / 1 / 3 / 2;
  }

  #w-node-_356aea29-dc52-fa31-addf-60168506b6a6-8506b64d {
    grid-area: 1 / 2 / 2 / 3;
  }

  #w-node-_356aea29-dc52-fa31-addf-60168506b6a9-8506b64d {
    grid-area: 1 / 1 / 3 / 2;
  }

  #w-node-_1f3e8f7c-7b10-e8d5-7708-9cf46683888b-d6db5ffb, #w-node-_1f3e8f7c-7b10-e8d5-7708-9cf466838899-d6db5ffb, #w-node-_1f3e8f7c-7b10-e8d5-7708-9cf4668388a7-d6db5ffb, #w-node-_1f3e8f7c-7b10-e8d5-7708-9cf4668388b5-d6db5ffb {
    grid-area: 1 / 1 / 2 / 4;
  }
}

@media screen and (max-width: 479px) {
  #w-node-ff730b9b-e26f-2b93-25e2-ff657184cd36-7184cd17, #w-node-ff730b9b-e26f-2b93-25e2-ff657184cd44-7184cd17 {
    grid-area: 2 / 1 / 3 / 2;
  }

  #w-node-ff730b9b-e26f-2b93-25e2-ff657184cd4a-7184cd17 {
    grid-area: 1 / 1 / 2 / 2;
  }
}


@font-face {
  font-family: 'Helveticaneue';
  src: url("/assets/fonts/helveticaneue-light.ttf") format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Helveticaneue';
  src: url("/assets/fonts/helveticaneue.ttf") format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Helvetica neu';
  src: url("/assets/fonts/helvetica-neu-bold.ttf") format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Switzer';
  src: url("/assets/fonts/switzer-regular.otf") format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Switzer';
  src: url("/assets/fonts/switzer-semibold.otf") format('opentype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Switzer';
  src: url("/assets/fonts/switzer-bold.otf") format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Switzer';
  src: url("/assets/fonts/switzer-light.otf") format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}